.map-and-list-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}


.map-container {
    margin-top: 10px;
    margin-bottom: 10px;
    align-items: center;
    justify-content: center;
    width: 80vw;
    height: 60vh;
    border-radius: 20%;
}

/* https://i.pinimg.com/564x/09/83/75/098375689d7a2f5305832af7529b37dc.jpg */


.locations-list {
    margin-top: 30px;
    align-items: center;
    justify-content: center;
    color: darkblue;
    background-color: rgb(254, 254, 254);
    border: solid;
    border-color: rgb(252, 252, 252);
    background-image: url(http://i.pinimg.com/564x/19/c9/3f/19c93fcd74cb5b91521a896a62006134.jpg);
    text-align: center;
    border-radius: 45%;
    width: 70%;
    height: 100px;
    overflow-y: scroll;
    padding: 0;
}



.location-item {
    cursor: pointer;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: #007bff; /* change color to desired link color */
    text-decoration: underline; /* add underline to indicate a link */
    margin-bottom: 10px;
    font-size: large;
}

.location-item:hover {
    color: #f5f5f5;
}

#mapButton {
    margin-bottom: 10px;
}

ul {
    list-style-type: none;
}

.map-name {
    font-family: sans-serif;
}

/* .tag { 
    margin-bottom: 20px;
    color: rgb(10, 0, 0);
    font-family: fantasy;
    font-weight: bolder;
    outline: auto;
} */