@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Lato:wght@300&family=Rock+Salt&display=swap');

.label {
    font-family: 'Rock Salt', cursive;
}

h2 {
    font-size: large;
}

h4, h3 {
    font-family: 'Rock Salt', cursive;
}

h1 {
    font-family: 'Rock Salt', cursive;
    color:CFF4FC;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.addNewNote {
    justify-content: center;
    align-items: center;
}
.center {
    text-align: center;
}

#add-note {
    margin-top: 10px;
}

.editButton {
    text-align: center;
}