.map-and-list-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}


.map-container {
    margin-top: 10px;
    margin-bottom: 10px;
    align-items: center;
    justify-content: center;
    width: 80vw;
    height: 60vh;
    border-radius: 20%;
}

.locations-list {
    margin-top: 30px;
    align-items: center;
    justify-content: center;
    color: darkblue;
    background-color: rgb(254, 254, 254);
    border: solid;
    border-color: rgb(252, 252, 252);
    background-image: url(https://img.freepik.com/premium-photo/wood-texture-background-wood-pattern-texture-design-decoration_64749-1557.jpg);
    text-align: center;
    border-radius: 45%;
    width: 40vw;
    max-height: 15vh;
    overflow-y: auto;
    padding: 0;
}
/* ... other styles ... */



.location-item {
    cursor: pointer;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: #007bff; /* Change color to your desired link color */
    text-decoration: underline; /* Add underline to indicate a link */
    margin-bottom: 10px; /* Add some spacing between list items */
}

.location-item:hover {
    color: #f5f5f5; /* Add a background color on hover for visual feedback */
}

#mapButton {
    margin-bottom: 10px;
}

ul {
    list-style-type: none;
}

.map-name {
    font-family: sans-serif;
}

/* .tag { 
    margin-bottom: 20px;
    color: rgb(10, 0, 0);
    font-family: fantasy;
    font-weight: bolder;
    outline: auto;
} */